<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% if page.image %}
    {% assign img = page.image.path | default: page.image %}
  {% endif %}


  <title>
  {%- unless layout == "main" -%}
    {{title | append: " | "}}
  {%- endunless -%}
    {{ site.title }}
  </title>

  {% include "favicons.liquid" %}

	{% for cdn in site.cdns %}
		<link rel="preconnect" href="{{ cdn.url }}" {{ cdn.args }}>
		<link rel="dns-prefetch" href="{{ cdn.url }}" {{ cdn.args }}>
	{% endfor %}

	<link rel="stylesheet" href="{{ site.webfonts }}">


  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ site.bootstrap.css }}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ site.fontawesome.css }}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">

  {% if site.toc and page.data.toc %}
    <link rel="stylesheet" href="{{ site.bootstrap-toc.css }}">
  {% endif %}

  <!-- JavaScript -->
  <script src="{{ site.jquery.js }}"></script>
	<script src="/assets/js/main.js" async=""></script>

  {% unless site.theme_mode %}
    {% include "mode-toggle.liquid" %}
  {% endunless %}

</head>
