<!--
 Post sharing snippet
-->

<div class="share-wrapper">
  <span class="share-label text-muted mr-1">Share</span>
  <span class="share-icons">
	<a target="_blank" href="https://twitter.com/intent/tweet?text={{ title | my_xml_escape }}&amp;url={{ site.full_url }}{{ page.url }}" rel="noopener"><i class="fa-fw fab fa-twitter"></i></a>
	<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.full_url }}{{ page.url }}&amp;t={{ title | my_xml_escape }}" rel="noopener"><i class="fa-fw fab fa-facebook"></i></a>
	<a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.full_url}}&amp;title={{title | my_xml_escape}}&amp;source={{site.title | my_xml_escape}}" rel="noopener"><i class="fa-fw fab fa-linkedin"></i></a>
    <i id="copy-link" class="fa-fw fas fa-link small"
        data-toggle="tooltip" data-placement="top"
        title="Copy link"
        data-title-succeed="Link copied successfully!">
    </i>

	{% comment %}

    <i id="copy-link" class="fa-fw fas fa-link small"
        data-toggle="tooltip" data-placement="top"
        title="Copy link"
        data-title-succeed="Link copied successfully!">
    </i>
	{% endcomment %}

  </span>
</div>