---
body_class: home-template
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>{% if renderData.title %}{{ renderData.title | titlecase | my_xml_escape }}{% elsif title %}{{ title | my_xml_escape }}{% else %}{{ site.title }}{% endif %}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://fonts.googleapis.com https://img.buymeacoffee.com; script-src 'self' https: 'unsafe-inline' 'unsafe-eval' http{% if isProd %}s{% endif %}://cdn.carbonads.com; object-src 'none'; style-src https: 'self' 'unsafe-inline'; img-src 'self' https:;font-src https://fonts.gstatic.com; connect-src https: ws://localhost:8888 http://localhost:8888; frame-src https: http://localhost:8888 https://try.boxlang.io http://try.boxlang.io; media-src *">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />   
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i%7CKarla:400,400i,700,700i" rel="preload" as="style">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i%7CKarla:400,400i,700,700i" rel="stylesheet" media="print" onload="this.media='all'">

    {% comment %}
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/prism.css" />
    {% endcomment %}
    {% capture css %}
        {% include "assets/css/style.css" %}
        {% include "assets/css/prism.css" %}
    {% endcapture %}
    <style>
    {{ css | cssmin }}
    </style>
    <meta name="description" content="{% if description %}{{ description | my_xml_escape }}{% else %}{{ site.description | my_xml_escape }}{% endif %}">
    <meta name="og:title" content="{% if title %}{{ title | my_xml_escape }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="og:url" content="{{ page.url | prepend: site.url }}" />
    <meta name="og:type" content="blog" />

    {% if description %}
    <meta property="og:description" content="{{ description | my_xml_escape }}" />
    {% else %}
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}

    {% comment %}
    New support for an OG image on my home page
    {% endcomment %}
    {% if page.url == '/' %}
    <meta property="og:image" content="https://v1.screenshot.11ty.dev/https%3A%2F%2Fwww.raymondcamden.com%2F/opengraph" />
    {% endif %}
    {% if banner_image %}
    <meta property="og:image" content="{{ "https://static.raymondcamden.com" | append: banner_image }}" />
    {% endif %}
    <meta name="fediverse:creator" content="@raymondcamden@mastodon.social">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#1d1d1d">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ "/feed.xml" | prepend: site.url }}">
    <link rel="webmention" href="https://webmention.io/www.raymondcamden.com/webmention" />
    <link rel="pingback" href="https://webmention.io/www.raymondcamden.com/xmlrpc" />
    
    <script data-goatcounter="https://raymondcamden.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>
<script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug getPageViewId captureTraceFeedback captureTraceMetric".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_SGfd7xKFG1YT4pm2TmW4lzwWxbu4D5bJ8UqnSnY3eWm', {
        api_host: 'https://us.i.posthog.com',
        person_profiles: 'identified_only', // or 'always' to create profiles for anonymous users as well
    })
</script>    
</head>

<body class="{{body_class}}">
	<div id="page" class="site">
		{% include 'header' %}
		<div id="content" class="site-content">
			{{content}}
			<!-- The tag below includes the theme footer - partials/footer.hbs -->

		{% include 'footer' %}

		</div>
	</div>

    {% if layout == "post" %}
	<div data-ea-publisher="raymondcamdencom" data-ea-type="image" class="adaptive" data-ea-style="stickybox"></div>
    {% comment %}
    <div class="adaptive" data-ea-publisher="raymondcamdencom" data-ea-type="text" data-ea-style="fixedfooter"></div>
    {% endcomment %}
    <script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/lazysizes.min.js" async=""></script>
</body>
</html>
