---
layout: default
body_class: post-template
---

<article class="post-content">
	<header class="post-header">
		<h1>{{title | escape}}</h1>
		<div class="post-meta">
			<time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %e, %Y" }}</time>
			<span class="categories">
				{% for cat in categories %}
					<a href="/categories/{{ cat | downcase | myEscape}}">{{cat}}</a>
				{% endfor %}
				{% for tag in tags %}
					<a href="/tags/{{ tag | myEscape}}">{{tag}}</a>
				{% endfor %}
			</span>
			{% assign age = page.date | ageInDays %}
			{% assign twoyears = 365 | times: 2 %}
			{% if age > twoyears %}
			<span class="oldPost"><sparkly-text>(This post is more than 2 years old.)</sparkly-text></span>
			{% endif %}

		</div>
	</header>

    <div class="post-body">

        {% if banner_image %}
		{% assign banner = "https://static.raymondcamden.com" | append: banner_image %}
		<picture>
			<source media="(max-width: 799px)" srcset="https://res.cloudinary.com/raymondcamden/image/fetch/c_fit,w_360/{{ banner }}" width="360">
			<source media="(min-width: 800px)" srcset="https://res.cloudinary.com/raymondcamden/image/fetch/c_fit,w_800/{{ banner }}" width="800">
			<img src="https://res.cloudinary.com/raymondcamden/image/fetch/c_fit,w_800/{{banner}}" alt="{% if banner_image_alt %}{{ banner_image_alt }}{% else %}{{ title | my_xml_escape}}{% endif %}" width="800">
		</picture>
		{% endif %}

		{{content}}

	</div>

	<footer class="post-footer">

		<div class="footer-box">
		<h3>Hire Me!</h3>
		<p>
		I'm currently looking for my next role in developer evangelism and advocacy. I have a long history of helping companies work with developers and love to write, create demos, and present at conferences. You can find my <a href="/resume/">resume</a> to learn more and drop me an email (raymondcamden@gmail.com) to reach out.
		</p>
		</div>

		<div class="footer-box">
			<h3>Support this Content!</h3>
			<p>
			If you like this content, please consider supporting me. You can become a <a href="https://www.patreon.com/raymondcamden">Patron</a>,
			visit my <a href="http://www.amazon.com/gp/registry/wishlist/2TCL1D08EZEYE/ref=cm_wl_rlist_go_v?">Amazon wishlist</a>, 
			or <a href="https://www.buymeacoffee.com/raymondcamden">buy me a coffee</a>! Any support helps!
			</p>
			<p>
			Want to get a copy of every new post? Use the form below to sign up for my newsletter.
			</p>
			<p id="subStatus"></p>
			<form>
			<div class="input-group">
				<input type="email" name="email" class="input" placeholder="Your email address" id="subEmail"> 
				<button class="btn" id="subButton" type="submit">Subscribe</button>
			</div>
			</form>

		</div>

        {% include 'mydisqus' %}
		{% assign year = page.date | date: "%Y" %}
		{% if year >= 2024 %}
	        {% include 'giscus' %}
		{% endif %}

	</footer>
</article>

{% comment %}


		
        {% include 'mydisqus' %}
		{% assign year = page.date | date: "%Y" %}
		{% if year >= 2024 %}
	        {% include 'giscus' %}
		{% endif %}

		<footer class="post-footer">
			<p class="post-share">
				<span class="post-share-title">Share:</span>
				<a target="_blank" href="https://threads.net/intent/post?text=%22{{ title | my_xml_escape }}%22%0A{{ site.url | my_xml_escape }}{{ page.url | my_xml_escape }}" rel="noopener">Threads</a>
				<a target="_blank"" href="https://bsky.app/intent/compose?text=%22{{ title | my_xml_escape }}%22%0A{{ site.url | my_xml_escape }}{{ page.url | my_xml_escape }}" rel="noopener">Bluesky</a>
				<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;t={{ title | my_xml_escape }}" rel="noopener">Facebook</a>
				<a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}&amp;title={{title | my_xml_escape}}&amp;source={{site.title | my_xml_escape}}" rel="noopener">LinkedIn</a>
			</p>
		</footer><!-- .post-footer -->


	{% endcomment %}