---
layout: default
---

{% assign posts = collections.posts | reverse %}

<section class="hero-intro">
    <div class="intro-content">
        <div class="intro-text">
            <h2>Hi, I'm Raymond Camden 👋</h2>
            
            <p>
            I'm a developer advocate who loves the web platform, APIs, AI, and basically just anything involving
            code. I love to write about technology and share that with others. I've got fun stuff to show you and I'm so happy you're here!
            </p>

            <p>
            Welcome to my corner of the internet where I share insights about development, best and sometimes questionable practices, and cat demos.
            </p>
        </div>
        <div class="intro-image">
            <img src="https://www.raymondcamden.com/images/avatar2.jpg" alt="Profile photo" class="profile-photo">
        </div>
    </div>
</section>


<section class="blog-posts">

{% for post in posts limit:6 %}

    <article class="post-card">
        <h2><a href="{{post.url}}">{{post.data.title | escape}}</a></h2>
        <div class="post-meta">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %e, %Y" }}</time>
            <span class="categories">
                {% assign ctList = post | catTagList %}
                {% for ct in ctList %}
                    <a href="{{ct.url}}">{{ct.name}}</a>
                {% endfor %}
            </span>
        </div>
        <p class="post-excerpt">
        {% if post.templateContent contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
        {% else %}
            {% excerpt post %}
        {% endif %}
        </p>
    </article>

{% endfor %}

<p>
Want to read everything? Head over to my <a href="/all">giant list of every single freaking post ever!</a>
</p>

</section>
